<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>

    <title>Xandly5</title>
</head>
<body>

<div id="content" class="container-fluid">

    <form>
        <div class="page-header container-fluid">
            <h1>Xandly5</h1>
            <h2>The Deep Learning Lyrics Generator</h2>
        </div>
        <div class="form-group">
            <label for="model_id">Lyrics Model:</label>
            <select id="model_id" class="form-control">
                <option value="1">Shakespeare Sonnet</option>
                <option value="2">Poe Poem</option>
            </select>
        </div>
        <div class="form-group">
            <label for="seed_text">Starting Text:</label>
            <textarea class="form-control" id="seed_text" rows="2">tis a cook book</textarea>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="word_count">Word Count:</label>
                <input type="text" class="form-control" id="word_count" value="40"/>
            </div>
            <div class="form-group col">
                <label for="word_group_count">Word Group Count:</label>
                <input type="text" class="form-control" id="word_group_count" value="4"/>
            </div>
        </div>
        <div class="form-group">
            <button type="button" id="main_button" class="btn btn-dark">
                Submit
                <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            </button>
        </div>
        <div id="alert_message" class="alert alert-warning collapse" role="alert">
            Nothing to see here...
        </div>
        <div class="form-group">
            <label for="generated_text">Generated Text:</label>
            <textarea class="form-control" id="generated_text" rows="14"></textarea>
        </div>
    </form>

</div>

<script src="static/scripts/jquery-3.6.0.min.js"></script>
<script src="static/scripts/bootstrap.bundle.min.js"></script>
<script src="static/scripts/xandly5.js">

</script>
</body>
</html>